.bg-new-primary-gradient{
  background-color: #36b9cc;
  background-image: linear-gradient(180deg, #36b9cc, #81ecec);
  background-size: cover;
}
.sidebar-new .sidebar-brand {
  color: #2d3436;
}

.sidebar-new hr.sidebar-divider {
  border-top: 1px solid #2d3436;
}

.sidebar-new .sidebar-heading {
  color: #2d3436;
}

.sidebar-new .nav-item .nav-link {
  color: #2d3436;
}

.sidebar-new .nav-item .nav-link i {
  color: #2d3436;
}

.sidebar-new .nav-item .nav-link:active, .sidebar-new .nav-item .nav-link:focus, .sidebar-new .nav-item .nav-link:hover {
  color: #2d3436;
}

.sidebar-new .nav-item .nav-link:active i, .sidebar-new .nav-item .nav-link:focus i, .sidebar-new .nav-item .nav-link:hover i {
  color: #2d3436;
}

.sidebar-new .nav-item .nav-link[data-toggle="collapse"]::after {
  color: #2d3436;
}

.sidebar-new .nav-item.active .nav-link {
  color: #2d3436;
}

.sidebar-new .nav-item.active .nav-link i {
  color: #2d3436;
}

.sidebar-new #sidebarToggle {
  background-color: #2d3436;
}

.sidebar-new #sidebarToggle::after {
  color: #55efc4;
}

.sidebar-new #sidebarToggle:hover {
  background-color: #2d3436;
}

.sidebar-new.toggled #sidebarToggle::after {
  color:#55efc4;
}
.timeline {
  margin: 20px 0;
  margin-right:5px;
  padding: 0;
  list-style: none;
  height: fit-content;
}
.timeline__step {
  width: 100%;
  height: 50px;
  padding-top: 30px;
  margin-left: -30px;
  position: relative;
  border-left: 2px solid #428bca;
}
.timeline__step:first-of-type:before, .timeline__step:last-of-type:before {
  content: "";
  width: 50%;
  background: #fff;
  position: absolute;
  top: -2px;
  left: 0;
}
.timeline__step:last-of-type:before {
  left: 50%;
}
.timeline__step:hover .timeline__step-label {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  height: auto;
  padding: 5px 10px;
  font-size: 12px;
  border-width: 1px;
  bottom: 100%;
}
.timeline__step:hover .timeline__step-label:before, .timeline__step:hover .timeline__step-label:after {
  display: block;
}
.timeline__step-label {
  opacity: 0;
  height: 0;
  padding: 0;
  font-size: 0;
  border-width: 0;
  -webkit-transform: rotate(30deg);
  width: 110px;
  margin: 0 0 45px -55px;
  border-style: solid;
  border-color: #428bca;
  background: #fff;
  font-weight: normal;
  position: absolute;
  left: 50%;
  bottom: 0;
  transition: bottom 0.1s ease-in-out, opacity 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}
.timeline__step-label:before, .timeline__step-label:after {
  display: none;
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 50%;
}
.timeline__step-label:before {
  border-top-color: #428bca;
  border-width: 8px;
  margin-left: -8px;
}
.timeline__step-label:after {
  border-top-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}
.timeline__step-content {
  display: block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.timeline__step-title {
  display: block;
  width: 100%;
  padding: 30px 0 0;
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: 0;
}
.timeline__step-marker {
  width: 80%;
  height: 80%;
  margin-left: -42px;
  background: #fff;
  border: 4px solid #428bca;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #fff;
  text-align: center;
  line-height: 50px -10;
  color: #428bca;
  font-size: 2em;
  font-style: normal;
  position: absolute;
  top: 38px;
  left: 50%;
}
.done .timeline__step-marker {
  background: #428bca;
  color: #fff;
}
.timeline__step-radio {
  display: none;
 /** * not needed for now, * because markers won't be clicked in horz version */
}
.timeline--summary {
  width: 100%;
  border-width: 2px;
}
.timeline--summary .timeline__step-label {
  margin-bottom: 19px;
}
.timeline--summary .timeline__step-title {
  padding: 0px 0px 0 30px;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}
.timeline--summary .timeline__step-subtitle {
  font-size: 12px;
  font-weight: normal;
  text-align: left;

}
.timeline--summary .timeline__step-marker {
  width: 20px;
  height: 20px;
  border-width: 2px;
  text-indent: -999em;
  box-shadow: 0 0 0 3px #fff;
  top: 0px;
  position:absolute;
  left:31px;
  bottom: 0;
}
.padding-timeline{
   height: fit-content;
   margin-left: 30px;
}
.timeline__step:last-child{
  border-left: none !important;
}
.wizard-card {
   height:fit-content;
   box-shadow: 0 20px 16px -15px 
   rgba(0, 0, 0, 0.57);
}
body.login{
   background-image:url('../background.jpg') !important;
   background-size:cover;
}
.penilaian-checked {
  color: orange;
}
.btn.penilaian-checked:focus{
  color: orange;
}